:host {
    .day-btn-group {
        ion-col {
            --ion-grid-column-padding: 0px;

            ion-button.option-btn {
                --background: #acd3d84f;
                --color: var(--ion-color-app-dark-blue);
                font-weight: bold;
            }

            ion-button.stat_opt {
                --background: white !important;
            }
        }
    }

    ion-grid {
        --ion-grid-padding: 0px;
    }

    
    ion-item {
        border: 2px solid #d1ded4;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 15px;

        .reminder-wrapper {
            padding: 15px 0px 0px 0px;
            color: var(--ion-color-app-dark-blue);

            .reminder-title {
                margin: 0;
                margin-bottom: 5px;
                font-size: 15px;
                font-weight:bold;
            }

            .reminder-detail {
                margin: 0px;
                font-size: 14px;
            }

            .reminder-date {
                margin: 0px;
                margin-top: 10px;
                margin-bottom: 3px;
                font-size: 13px;
                font-weight: bold;
                color: var(--ion-color-app-light-blue);
            }
        }

        .reminder-edit {
            position: absolute;
            right: 10px;
            top: 10px;
            color: var(--ion-color-app-light-blue);
        }
    }
}